header {
    background: #2c3e50;
    color:#fff;
}
.main{
    background:#f2f2f2;
}
.color1{
    background: #455f79;
    color:rgb(129, 198, 147);
}
aside{
    background: #c0392b;
    color:#fff;
}
footer{
    background: #16a085;
    color:#fff;
}
.slide{
    margin-top:10px;
}
.slide img{
    height:50vh;
}